@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.75);
}

main {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 60vh;
}

.sedans, .suvs, .luxury {
    padding: 5% 6%;
    display: flex;
    flex-direction: column;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: .5rem 0 0 .5rem;
}

.sedans > .learn-more-btn {
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs > .learn-more-btn {
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius:  0 .5rem .5rem 0 ;
}

.luxury > .learn-more-btn {
    color: hsl(179, 100%, 13%);
}

h1.car-header {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 2.75vw;
}

p.car-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 3vh;
    margin: 0;
    flex-grow: 1;
}

.learn-more-btn {
    border: none;
    font-family: inherit;
    width: 65%;
    padding: 7.5%;
    border-radius: 2rem;
    justify-self: flex-end;
    font-size: 1.15vw;
    transition: all 0.3s;
}

/* Hover State */
.learn-more-btn:hover {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 5vh;
}

#COLORS {
    /* ### Primary */
    /* Bright orange */
    color: hsl(31, 77%, 52%);

    /* Dark cyan */
    color: hsl(184, 100%, 22%);

    /* Very dark cyan */
    color: hsl(179, 100%, 13%);
    
    /* ### Neutral */
    /* Transparent white (paragraphs) */
    color: hsla(0, 0%, 100%, 0.75);

    /* Very light gray (background, headings, buttons) */
    color: hsl(0, 0%, 95%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1024px) {
    main {
        height: 50vh;
    }
}

@media screen and (max-width: 768px) {
    main {
        height: 40vh;
    }
}

@media screen and (max-width: 375px) {
    
    body {
        height: 120vh;
    }

    main {
        flex-direction: column;
        height: 90%;
    }

    .sedans, .suvs, .luxury { 
        height: 100%;
        padding: 15%;
    }

    .sedans {
        border-radius: .5rem .5rem 0 0 ;
    }

    .luxury {
        border-radius: 0 0 .5rem .5rem ;
    }

    img {
        height: 70%;
    }

    h1.car-header {
        font-size: 7vw;
        margin: 1vh 0;
    }

    p.car-paragraph {
        height: fit-content;
        font-size: 2.9vw;
        line-height: 2vh;
        margin: 1vh 0;

    }

    .learn-more-btn {
        font-size: 3vw;
    }

    footer {
        position: relative;
        top: 5vh;
    }
}